Game-asp/.vs/Game-asp/xs/UserPrefs.xml
Game-asp/Game-asp.sln
Game-asp/bin/Debug/netcoreapp2.0/Game-asp.dll
Game-asp/bin/Debug/netcoreapp2.0/Game-asp.pdb
Game-asp/bin/Debug/netcoreapp2.0/Game-asp.runtimeconfig.dev.json
Game-asp/obj/Debug/netcoreapp2.0/Game-asp.AssemblyInfo.cs
Game-asp/obj/Debug/netcoreapp2.0/Game-asp.csproj.CoreCompileInputs.cache
Game-asp/obj/Debug/netcoreapp2.0/Game-asp.csproj.FileListAbsolute.txt
Game-asp/obj/Debug/netcoreapp2.0/Game-asp.csprojAssemblyReference.cache
Game-asp/obj/Debug/netcoreapp2.0/Game-asp.dll
Game-asp/obj/Debug/netcoreapp2.0/Game-asp.pdb
Game-asp/obj/Game-asp.csproj.nuget.cache
Game-asp/obj/Game-asp.csproj.nuget.g.props
Game-asp/obj/project.assets.json
