@{
    ViewData["Title"] = "Fight Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="~/css/fight.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="player1Stats">
            <p><img src="https://cdn0.iconfinder.com/data/icons/game-1-3/50/56-512.png" class="life"/>&nbspHP: </p>
        </div>
    </body>
</html>
