body{
    background:url('https://www.theatreworldbackdrops.com/Image/BackdropImage/Large/Foggy-Forest-Daybreak-Scenic-Backdrop.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    font-size:18pt;
    overflow:hidden;
}
.body2{
    background:url('https://media1.giphy.com/media/mlawJJOnq5pgA/giphy.gif?cid=790b76115d25c52336494b686bfcfe79&rid=giphy.gif');
    background-size:cover;
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    left:-30rem;
    width:130%;
    height:100vh;
    z-index:-1;
    animation: smoothAppear 10s linear forwards;
    display:none;
}
.chose{
    background:url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/53/56/705862061bc2382.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    padding-top:5%;
    padding-bottom:5%;
    width:70%;
    border-style:solid;
    border-width:5px;
    border-radius:5px;
    border-color:rgba(0, 0, 0, 0.6);
    margin:auto;
    z-index:1;
}
.choseContent{
    display:flex;
    flex-direction:column;
    margin:auto;
    }
.bckgChosen{
    background-color:rgb(0, 0, 0);
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    animation: disappear 5s linear forwards;
    display:none;
    z-index:1;
}
.magicianChosen{
    position:absolute;
    top:0;
    z-index:2;
    max-width:30%;
    animation: coming 5s linear forwards ;
    filter:drop-shadow(0px 0px 10px white);
    display:none;
}
.elfChosen{
    position:absolute;
    top:0;
    z-index:2;
    max-width:30%;
    animation: coming 5s linear forwards ;
    filter:drop-shadow(0px 0px 10px white);
    display:none;
}
.warriorChosen{
    position:absolute;
    z-index:2;
    top:0;
    max-width:30%;
    animation: coming 5s linear forwards ;
    filter:drop-shadow(0px 0px 10px white);
    display:none;
}
@keyframes disappear{
    0%{
        opacity:0.6;
    }
    90%{
        opacity:0.6;
    }
    99%{
        width:100%;
    }
    100%{
        opacity:0;
        width:0%;
        display:none;
    }
}

@keyframes coming{
    0%{
        left:-10rem;
    }
    10%{
        left:45rem;
    }
    90%{
        left:50rem;
        opacity:1;
    }
    100%{
        left:95rem;
        opacity:0;
        display:none;
    }
}
.chooseHero{
    margin:auto;
    margin-bottom:5%;
    font-family: 'Permanent Marker', cursive;
}
.container{
    margin:auto;
}
li{
    list-style-type:none;
}
.magician:hover{
    cursor:pointer;
    color:darkred;
}
.warrior:hover{
    cursor:pointer;
    color:darkred;
}
.elf:hover{
    cursor:pointer;
    color:darkred;
}

ul{
    margin:auto;
    text-align:center;
    font-family: 'Permanent Marker', cursive;
}
a{
    color:white;
}
a:hover{
    color:white;
    text-decoration:none;
}
.magicianImg{
    position:absolute;
    max-width:10%;
    margin-left:5%;
    margin-top:3%;
    filter:drop-shadow(0px 0px 8px white);
    display:none;
}
.magicianSpecs{
    font-family:'Permanent Marker', cursive;
    text-align:center;
    display:none;
}
.elfSpecs{
    font-family:'Permanent Marker', cursive;
    text-align:center;
    display:none;
}
.elfImg{
    position:absolute;
    max-width:10%;
    margin-left:5%;
    margin-top:3%;
    filter:drop-shadow(0px 0px 8px white);
    display:none;
}
.warriorImg{
    position:absolute;
    max-width:10%;
    margin-left:5%;
    margin-top:3%;
    filter:drop-shadow(0px 0px 8px white);
    display:none;
}
.warriorSpecs{
    font-family:'Permanent Marker', cursive;
    text-align:center;
    display:none;
}
.rules{
    text-align:center;
}
.rulesLink:hover{
    text-decoration:none;
    
    cursor:pointer;
    color:white;
    font-size:16pt;
    transform:rotate(-7deg);
}
.rulesLink{
    text-decoration:none;
    color:white;
    font-size:10pt;
    font-family:'Permanent Marker', cursive;
    margin-left:6%;
}
.characterRight{
    position:absolute;
    right:-20rem;
    bottom:0;
    transform:scale(-1, 1);
    overflow:hidden;
    z-index:0;
}
.darkEyes{
    position:absolute;
    left:0;
    top:5rem;
    overflow:hidden;
    z-index:0;
    opacity:0.5;
    width:30%;
    display:none;
}
.hellfireImg, .blackHoleImg, smoothRainImg, deepArrowImg{
    max-width:5%;
}
.fight{
    background-color:darkred;
    color:white;
}
.life, .mana{
    max-width:2.2rem;
}
.wand{
    max-width:3rem;
}
@media screen and (max-width:900px){
    .characterRight{
        max-width:60%;
    }
    body{
        font-size:10pt;
    }
}
@keyframes smoothAppear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}