@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="~/css/main.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <div class="body2"></div>
        <div class="bckgChosen"></div>
        <img src="https://i.ya-webdesign.com/images/eye-png-wolf-5.png" class="darkEyes"/>
        <img class="characterRight" src="https://img.pngio.com/dark-souls-ii-warriorpng-dark-souls-png-579_615.png"/>
        <img class="magicianChosen" src="https://www.freepngimg.com/thumb/wizard/3-2-wizard-picture.png"/>
        <img class="warriorChosen" src="https://www.stickpng.com/assets/images/5a0587ef9cf05203c4b603d1.png"/>
        <img class="elfChosen" src="https://i.pinimg.com/originals/57/bd/e1/57bde151a4e8ab72632b46cbc1fbab4c.png"/>
        <div class="container">
            <div class="chose">  
                <audio id='audio' src="~/west.mp3"></audio>  
                <audio id='audio2' src="~/shallnotpass.mp3"></audio>
                <audio id='audio3' src="~/elfique.ogg"></audio>
                <audio id='audio4' src="~/epic.mp3"></audio>
                <img class='magicianImg' src="https://www.freepngimg.com/thumb/wizard/3-2-wizard-picture.png"/>
                <img class="elfImg" src="https://i.pinimg.com/originals/57/bd/e1/57bde151a4e8ab72632b46cbc1fbab4c.png"/>
                <img class="warriorImg" src="https://www.stickpng.com/assets/images/5a0587ef9cf05203c4b603d1.png"/>
                <div class="choseContent">
                <h1 class="chooseHero">Choose Your Class</h1>                
                <ul>
                    <li class="magician">Magician</li>
                    <li></li>                    
                    <li class="elf">Elf</li>
                    <li></li>
                    <li class="warrior">Warrior</li>
                </ul>
                </div>
                <div class="magicianSpecs">
                    <h2 class="titled">You chose the Magician !</h2>
                    <p><img src="https://cdn0.iconfinder.com/data/icons/game-1-3/50/56-512.png" class="life"/>&nbspHP: 100</p>
                    <p><img src="https://gamepedia.cursecdn.com/fortnite_gamepedia/d/d5/Shield_potion_icon.png" class="mana"/>&nbspMana: 80</p>
                    <p><img src="https://img.pngio.com/magic-spell-png-93-images-in-collection-page-1-magic-spell-png-404_337.jpg" class="wand"/>&nbspSpells:</p>
                    <ul>
                        <li>Hellfire - Damages: 50 / Mana Cost: 35</li>
                        <li>Black Hole - Damages: 30 / Mana Cost: 20</li>
                        <li><button class="fight"><a href="Fight">FIGHT</a></button></li>
                    </ul>
                </div>
                <div class="elfSpecs">
                    <h2 class="titled">You chose the Elf !</h2>
                    <p><img src="https://cdn0.iconfinder.com/data/icons/game-1-3/50/56-512.png" class="life"/>&nbspHP: 100</p>
                    <p><img src="https://gamepedia.cursecdn.com/fortnite_gamepedia/d/d5/Shield_potion_icon.png" class="mana"/>&nbspMana: 80</p>
                    <p><img src="https://img.pngio.com/magic-spell-png-93-images-in-collection-page-1-magic-spell-png-404_337.jpg" class="wand"/>&nbspSpells:</p>
                    <ul>
                        <li>Deep Arrow - Damages: 50 / Mana Cost: 35</li>
                        <li>Smooth Rain - Damages: 30 / Mana Cost: 20</li>
                        <li><button class="fight"><a href="Fight">FIGHT</a></button></li>
                    </ul>
                </div>
                <div class="warriorSpecs">
                    <h2 class="titled">You chose the Warrior !</h2>
                    <p><img src="https://cdn0.iconfinder.com/data/icons/game-1-3/50/56-512.png" class="life"/>&nbspHP: 100</p>
                    <p><img src="https://gamepedia.cursecdn.com/fortnite_gamepedia/d/d5/Shield_potion_icon.png" class="mana"/>&nbspMana: 80</p>
                    <p><img src="https://img.pngio.com/magic-spell-png-93-images-in-collection-page-1-magic-spell-png-404_337.jpg" class="wand"/>&nbspSpells:</p>
                    <ul>
                        <li>Barronage - Damages: 50 / Mana Cost: 35</li>
                        <li>Spin To Win - Damages: 30 / Mana Cost: 20</li>
                        <li><button class="fight"><a href="Fight">FIGHT</a></button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="rules">
            <a href="#"><p class="rulesLink">Check Rules</p></a>
        </div>
        <script src="~/js/main.js"></script>
          
    </body>    
</html> 